body {
  background-color: #FEFCF7;
  margin: 0;
  box-sizing: border-box;
  padding: 0 10%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', serif;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.primary-button {
  background: none;
  background-color: #0E8784;
  color: #FEFCF7;
  border: none;
  border-radius: 7px;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  outline: inherit;
  height: 56px;
  width: 217px;
}

.primary-button:hover {
  background-color: #66D2CF;
}

/* --------    Navbar styles    --------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

nav img {
  height: 24px;
}

nav ul {
  list-style: none;

}

nav li {
  display: inline-block;
  padding: 0 10px;
}

nav a {
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: #83888F;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: #333D4B;
}

/* --------    Homepage styles    --------*/

.home-intro {
  background-image: url('/public/assets/home/desktop/image-hero-coffeepress.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  border-radius: 15px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  height: 700px;
  width: 40%;
  color: white;
}

.intro-text h1 {
  font-size: 72px;
  line-height: 72px;
  margin: 0;
}

.intro-text p {
  width: 70%;
  margin: 5% 0 7% 0;
}


/* --------    Homepage Collection styles    --------*/

.test {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 800px;
  height: 400px;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);

}

.collection-outer {
  text-align: center;
}

.alternate-title {
  font-family: 'Fraunces', serif;
  font-size: 150px;
  color: #83888F;
}

.collection-coffees {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.collection-item {
  width: 18%;
  text-align: center;
  color: #333D4B;
}

.collection-item img {
  height: 178px;
  width: auto;
}

.collection-item h4 {
  font-size: 24px;
  line-height: 32px;
}

/* --------    Benefits styles    --------*/

.benefits-background {
  background-color: #333D4B;
  color: #FEFCF7;
  text-align: center;
  height: 577px;
  border-radius: 15px;
}

.benefits h2 {
  font-size: 40px;
  line-height: 48px;
  padding-top: 10%;
}

.benefits p {
  width: 40%;
  margin: 0 auto;
}

.benefits-reasons {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
  top: 1900px;
}

.benefits-item {
  background-color: #0E8784;
  color: #FEFCF7;
  width: 21%;
  padding: 4% 2%;
  border-radius: 5px;
}

.benefits-item h4 {
  font-size: 24px;
}

.truck-icon{
  height: 72px;
}

/* --------    Steps styles    --------*/

.steps-outer {
  margin: 300px auto;
  width: 90%;
}

.homepage-steps-container {
  width: 875px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #FDD6BA;
  padding-top: 15px;
  margin-top: 55px;
}


.homepage-steps-container div {
  background-color: #FEFCF7 !important;
  font-weight: bold;
  color: #7ea5cc;
  border: 2px solid #0E8784;
  margin-top: -30px;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}

.steps-description {
  display: grid;
  grid-template-columns: repeat(3, 425px);
}

.steps-description div {
  width: 285px;
  padding-bottom: 75px;
}

.steps-description h2 {
  font-size: 72px;
  color: #FDD6BA;
  margin: 0;
}

.steps-description h3 {
  font-size: 32px;
  color: #333D4B;
  width: 260px;
}

.steps-description p {
  color: #333D4B;
}

/* --------    About us styles    --------*/

.about-us-intro {
  background-image: url('../public/assets/about/desktop/image-hero-whitecup.jpg');
  background-color: #A2A2A2;
  background-size: cover;
  height: 30%;
  border-radius: 15px;
  color: #FEFCF7;
}

.about-us-intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7%;
  width: 30%;
  height: 450px;
}

.about-us-intro h2,
.commitment-text h2 {
  font-size: 40px;
}

.commitment {
  color: #333D4B;
  display: flex;
  padding: 10% 5%;
  align-items: center;
  justify-content: space-around;
}

.commitment-text {
  width: 35%;
}

.commitment img {
  border-radius: 10px;
}

.quality-outer {
  background-color: #2C343E;
  height: 500px;
  border-radius: 10px;
  padding-left: 7%;
  color: #FEFCF7;
  margin-bottom: 10%;
}

.quality-outer img {
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  right: 320px;
  bottom: -870px;
}

.quality {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

.quality h2 {
  font-size: 40px;
  margin-top: 15%;
}

/* --------    Headquarters styles    --------*/

.headquarters-outer {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.headquarters-outer h4 {
  font-size: 24px;
  color: #83888F;
  margin-bottom: 5%;
}

.headquarters {
  display: flex;
}

.headquarters div {
  width: 45%;
  color: #333D4B;
}

.headquarters h3 {
  font-size: 32px;
}

.headquarters p {
  margin: 0;
}

/* --------    Create Plan styles    --------*/

.create-intro {
  background-image: url(../public/assets/plan/desktop/image-hero-blackcup.jpg);
  background-size: cover;
  height: 450px;
  color: #FEFCF7;
  border-radius: 15px;
}

.create-intro h1 {
  font-size: 72px;
  padding-top: 7%;
}

.create-intro h1,
.create-intro p {
  padding-left: 7%;
  width: 30%;
}

/* -------- Create plan steps -------- */

.create-steps-outer {
  margin: 100px auto;
  width: 93%;
  background-color: #2C343E;
  border-radius: 15px;
  padding-left: 7%;
  padding-top: 5%;
}

.create-progress-bar-container {
  width: 875px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #0E8784;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 55px;
}


.create-progress-bar-container div {
  background-color: #2C343E !important;
  font-weight: bold;
  color: #7ea5cc;
  border: 2px solid #FDD6BA;
  margin-top: -30px;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}

.create-steps-description {
  display: grid;
  grid-template-columns: repeat(3, 425px);
}

.create-steps-description div {
  width: 285px;
  padding-bottom: 95px;
}

.create-steps-description h2 {
  font-size: 72px;
  color: #FDD6BA;
  margin: 0;
}

.create-steps-description h3 {
  font-size: 32px;
  color: #FEFCF7;
  width: 260px;
}

.create-steps-description p {
  color: #FEFCF7;
}


/* -------- Coffeetype styles  ---------*/

.preference-steps{
  display: inline-grid;
  width: 20%;
  margin-right: 15%;
  margin-left: 5%;
  font-size: 24px;
  color: #333d4b78;
}

.preference-steps button{
  font-family: 'Fraunces', serif; 
  color: #333d4b78;
  background: none;
   font-size: 24px;
  border: none;
   margin: 15px 0;
   cursor: pointer;
}

.preference-active button{
  color: #333D4B;
}

.preference-active span{
  color: #83888F !important;
}


button:disabled,
button:disabled span{
   color: #333d4b36;
   cursor:auto;
}

.inactive-div{
  cursor: auto;
}

.inactive-div h2{
  color: #83888f63 !important;
  cursor: auto;
}

.inactive-arrow{
  color: red;
}

.preference-steps span{
  margin-right: 25px;
  font-weight: 700;
  font-family: 'Fraunces', serif;
  color: #83888f82;
}

#first-span{
  color: #0e87847a !important;
}

#first-span-active{
  color: #0E8784 !important;
}

.preference-steps hr {
  width: 100%;
  border-color: #83888f24; 
}


.choose-preferences{
display: inline-block;
}

.preferences{
  width: 50%;
  display: inline-grid;
  padding-bottom: 5%;
}

.preferences h2{
  font-size: 40px;
  margin: 40px 0;
  color: #83888F;
}

.preferences span{
  float: inline-end;
}


.preferences h4{
  font-size: 24px;
  color: #333D4B;
}


.up-arrow{
  transform: rotate(180deg);
}


.options,
.types,
.amounts,
.grindtypes,
.delivery-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 25px;

}

.question-one,
.question-two,
.question-three,
.question-four,
.inactive-div,
.question-five {
  grid-area: 1 / 1 / 2 / 6;
  cursor: pointer;
}

.inactive {
  background-color: #97979721;
  padding: 5% 10% 25% 10%;
  width: 77%;
  border-radius: 10px;
}

.inactive:hover{
  background-color: #FDD6BA;
  cursor: pointer;
}

.activeColor {
  background-color: #0E8784;
  padding: 5% 10% 25% 10%;
  width: 77%;
  color: white !important;
  border-radius: 10px;
}

.activeColor h4{
  color: white;
}

.summary{
  display: block;
  background-color: #2C343E;
  color: white;
  padding: 4%;
  width: 42%;
  border-radius: 15px;
  margin-left: 40%;
}

.summary h3{
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: #83888F;
  font-weight: 500;
}

.summary p{
  font-size: 24px;
   font-family: 'Fraunces', serif;
   line-height: 40px;
}

.summary span{
  color: #0E8784;
}

.summary-grind{
  color: white !important;
}

.order-container{
  text-align: right;
  width: 80%;
  margin: 0 auto;
}

.enabled-order{
  margin-top: 40px;
  margin-bottom: 80px;
  background: none;
  background-color: #0E8784;
  color: #FEFCF7;
  border: none;
  border-radius: 7px;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  outline: inherit;
  height: 56px;
  width: 217px;
}

.enabled-order:hover{
background-color: #66D2CF;
}

.disabled-order{
   margin-top: 40px;
  margin-bottom: 80px;
  background: none;
  background-color: #97979775;
  color: #FEFCF7;
  border: none;
  border-radius: 7px;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-size: 18px;
  line-height: 25px;
  cursor: auto;
  outline: inherit;
  height: 56px;
  width: 217px;
}


/* --------    Dialog styles    --------*/

.dialog-background {
  width: 100%;
  height: 100%;
  background-color: #0404048f;
  margin: 0 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.dialog-body{
  width: 540px;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #eee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.dialog-heading{
  color: white;
  border-top-right-radius: 8px;
   border-top-left-radius: 8px;
  background-color: #333D4B;
  padding: 8%;
}

.dialog-heading h2{
  margin: 0;
  font-size: 40px;
}

.dialog-summary {
   padding: 8% 8% 0 8%;
   font-size: 24px;
   color: #83888F;
   line-height: 40px;
   font-family: 'Fraunces', serif;
}

.dialog-summary h4{
  margin: 0;
}

.dialog-summary span{
  color: #0E8784;
}

.dialog-summary-grind{
  color: #83888F !important;
}

.dialog-safety-check{
   padding: 0 8%;
}

.checkout-summary{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0 20px 0; 
}

.checkout-summary h3{
  font-size: 32px;
  color: #333D4B;
}

/* --------    Common dialoge styles    --------*/

.common-dialog{
   width: 540px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  background-color:#FEFCF7;
  padding: 5%;
  border-radius: 8px;
}

/* --------    Footer styles    --------*/

footer {
  display: flex;
  background-color: #333D4B;
  align-items: center;
  padding: 2% 4%;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  display: inline-block;
}

footer li {
  display: inline-block;
  padding-right: 15px;
}

footer a {
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: #83888F;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  color: white;

}

.logo-container svg {
  display: inline-block;
  color: white;
}

.social-media svg {
  color: white;
}

.social-media svg:hover {
  cursor: pointer;
  color: #FDD6BA;
}

.social-media li {
  padding-left: 8px;
}

/* --------    CSS media query styles    --------*/



@media screen and (max-width: 1500px ) {

/* Homepage*/

.home-intro,
.intro-text {
  height: 600px;
}

.homepage-steps-container{
  width: 780px;
}

.steps-description {
grid-template-columns: repeat(3, 375px);
}
/* About us */

  .quality-outer img{
    right: 250px;
  }


/* Create plan */
  .create-intro h1{
    width: 50%;
  }
  
  .create-progress-bar-container{
    width: 675px;
  }

   .create-steps-description{
    grid-template-columns: repeat(3, 320px);
   }
  
  .create-steps-description div {
    width: 250px;
  }

  .preference-steps {
    width: 30%;
    margin-right: 5%; 
  }

  .preferences {
    width: 60%;
  }

  .summary{
    width: 50%;
  }

  .order-container{
    width: 96%;
  }

}

@media screen and (max-width: 1250px) {

  /*Homepage*/

  .home-intro{
    height: 400px;
  }

  .intro-text{
    width: 45%;
    height: 400px;
  }

  .intro-text h1{
    font-size: 52px;
    line-height: 52px;
  }

  .alternate-title{
    font-size: 90px;
  }

  .benefits-background{
    height: 450px;
  }

  .benefits-reasons {
    top: 1475px;
  }

  .steps-outer {
    margin: 300px auto 150px auto;
  }

  .homepage-steps-container{
    width: 550px;
  }

  .steps-description{
    grid-template-columns: repeat(3, 260px);
  }

  .steps-description div{
    width: 250px;
  }

  /*About us*/

  .about-us-intro div{
    height: 350px;
    width: 40%;
  }

  .commitment img{
    height: 400px;
  }

  .commitment-text{
    width: 45%;
  }

  .commitment-text h2,
  .quality h2{
    font-size: 32px;
    margin-top: 7%;
  }

  .commitment-text p,
  .quality p{
    font-size: 14px;
  }

  .quality-outer {
    height: 350px;
  }

  .quality {
    width: 50%;
  }

  .quality-outer img{
    height: 350px;
    right: 100px;
    bottom: -620px;
  }

  /*Create plan*/

  .create-intro{
    height: 350px;
  }

  .create-intro h1{
    font-size: 48px;
  }

  .create-intro p{
    width: 50%;
  }

  .create-progress-bar-container{
    width: 515px;
  }

  .create-steps-description {
    grid-template-columns: repeat(3, 240px);
  }

  .create-steps-description div {
    width: 220px;
    padding-bottom: 75px;
  }

  .create-steps-description h2{
    font-size: 36px;
  }

  .create-steps-description p{
    font-size: 14px;
  }

  .preference-steps button {
    font-size: 20px;
  }

  .preferences h2{
    font-size: 30px;
  }

  .preferences h4{
    font-size: 20px;
  }

  .preferences p{
    font-size: 14px;
  }

  .summary p{
    font-size: 20px;
    line-height: 32px;
  }
  


  
}